

<div class="container">
  <form [formGroup]="formulario" novalidate (ngSubmit)="enviarFormulario()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton formControlName="cardType" [options]="tipos"
        [(ngModel)]="selectedType" ></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" formControlName="vencimento"
          [inline]="false"
          [readonlyInput]="false"
          [showIcon]="true">
        </p-calendar>
        <app-message [control]="formulario.get('vencimento')" error="required" text="Campo Obrigatório">
        </app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ selectedType === 'DESPESA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy"
        [inline]="false"
        [readonlyInput]="false"
        [showIcon]="true">
      </p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text"
        formControlName="descricao"
        placeholder="Campo de Descrição">
        <app-message [control]="formulario.get('descricao')" error="required" text="Campo Obrigatório">
        </app-message>
        <app-message [control]="formulario.get('descricao')" error="minlength"
        text="Mínimo de {{
          formulario.get('descricao').errors?.minlength?.requiredLength
        }} caracteres.
        Você digitou apenas {{
          formulario.get('descricao').errors?.minlength?.actualLength
        }} caracteres.">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input currencyMask pInputText type="text" placeholder="0,00"
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        formControlName="valor"
        [(ngModel)]="value">
        <app-message [control]="formulario.get('valor')" error="required" text="Campo Obrigatório">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown formControlName="categoria" [options]="categorias" placeholder="Selecione" [filter]="true" >
        </p-dropdown>
        <app-message [control]="formulario.get('valor')" error="required" text="Campo Obrigatório">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown formControlName="pessoa" [options]="pessoas" placeholder="Selecione" [filter]="true">
        </p-dropdown>
        <app-message [control]="formulario.get('pessoa')" error="required" text="Campo Obrigatório">
        </app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="ui-g-12">
        <button [disabled]="formulario.invalid ? true: false" pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <button pButton type="button" label="Voltar" class="ui-button-info"></button>
      </div>

    </div>
  </form>
</div>
