<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" (click)="exibeMenu()" class="navbar-toggle"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="expandirMenu">
  <ul class="navbar-menu">
    <li class="navbar-usuario">José da Silva</li>
    <li class="navbar-menu-item"><a href="#">Lançamentos</a></li>
    <li class="navbar-menu-item"><a href="#">Pessoas</a></li>
    <li class="navbar-menu-item"><a href="#">Logout</a></li>
  </ul>
</div>
