<div class="container">
  <div class="ui-g grid-template-login">
    <div class="gridleft"></div>
    <form autocomplete="off">
      <div class="login ui-g-12 ui-fluid">
        <h1 class="titulo">Login</h1>
        <input class="input-distance" type="text" pInputText placeholder="E-mail" />
        <input class="input-distance"  type="password" pInputText placeholder="senha" />
        <button [disabled]="true" pButton type="submit" label="Login"></button>
      </div>
    </form>
    <div class="gridright"></div>
  </div>
</div>
