.navbar{
  padding: 10px 0;
  background-color: #1e94d2;
}

.navbar-toggle{
  color: #fff;
  font-size: 4vh;
}

.navbar-menu{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 279px;
  margin: 0;

  background-color: #3e3633;

  list-style: none;

}

.navbar-usuario{
  width: 279px;
  padding: 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;

  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.navbar-menu-item{
  padding: 15px;
}

.navbar-menu-item a{
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menu-item a:hover{
  color: #fff;
}

.navbar-menu-item.ativo {
  background-color: #494541;
  font-weight: bold;
}
