<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Descrição</label>
      <input type="text" pInputText />
    </div>

    <div class="ui-g-12">
      <label id="labelEmcimaInput">Vencimento</label>
      <input type="text" pInputText class="tamanhoInput" />

      <label style="padding: 0 10px;">Até</label>
      <input type="text" pInputText class="tamanhoInput" />
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="Pesquisar"></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <app-lancamentos-grid [cols]="cols" [lancamentos]="lancamentos" ></app-lancamentos-grid>
    </div>
  </div>

  <div class="ui-g-12">
    <button pButton type="button" label="Novo Lançamento"></button>
  </div>
</div>
