<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="salvar()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Nova' }} Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" formControlName="nome" />
        <app-message
          [control]="formulario.get('nome')"
          error="required"
          text="Campo Obrigatório"
        >
        </app-message>
        <app-message
          [control]="formulario.get('nome')"
          error="minlength"
          text="Mínimo de {{
            formulario.get('nome').errors?.minlength?.requiredLength
          }} caracteres.
        Você digitou apenas {{
            formulario.get('nome').errors?.minlength?.actualLength
          }} caracteres."
        >
        </app-message>
      </div>
      <div class="ui-g" formGroupName="endereco">
        <div class="ui-g-12 ui-md-9 ui-fluid">
          <label>Logradouro</label>
          <input pInputText type="text" formControlName="logradouro" />
          <app-message
            [control]="formulario.get('endereco.logradouro')"
            error="required"
            text="Campo Obrigatório"
          >
          </app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Número</label>
          <input pInputText type="text" formControlName="numero" />
          <app-message
            [control]="formulario.get('endereco.numero')"
            error="required"
            text="Campo Obrigatório"
          >
          </app-message>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Complemento</label>
          <input pInputText type="text" formControlName="complemento" />
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Bairro</label>
          <input pInputText type="text" formControlName="bairro" />
          <app-message
            [control]="formulario.get('endereco.bairro')"
            error="required"
            text="Campo Obrigatório"
          >
          </app-message>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>CEP</label>
          <p-inputMask mask="99.999-999" formControlName="cep">
            <app-message
              [control]="formulario.get('endereco.cep')"
              error="required"
              text="Campo Obrigatório"
            >
            </app-message>
          </p-inputMask>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="cidade">
          <label>Estado</label>

          <div formGroupName="estado">
            <p-dropdown placeholder="Selecione... " [filter]="true"
            [options]="estados" formControlName="codigo"
            (ngModelChange)="onChangeCode($event)"
            (onChange)="carregarCidades()"></p-dropdown>

            <app-message
              [control]="formulario.get('endereco.cidade.estado')"
              error="required"
              text="Campo Obrigatório">
            </app-message>
          </div>

        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="cidade">
          <label>Cidade</label>

          <p-dropdown placeholder="Selecione... " [filter]="true"
          [options]="cidades" formControlName="codigo"
          [disabled]="!estadoSelecionado"
          ></p-dropdown>

          <app-message
            [control]="formulario.get('endereco.cidade')"
            error="required"
            text="Campo Obrigatório">
          </app-message>


        </div>

      </div>

      <div class="ui-g-12">
        <p-panel header="Contatos">

          <app-pessoa-cadastro-contato [contatos]="pessoa.contatos"></app-pessoa-cadastro-contato>

        </p-panel>
      </div>

      <div class="ui-g-12">
        <button
          [disabled]="formulario.invalid ? true : false"
          pButton
          type="submit"
          label="Salvar"
        ></button>
        <button
          pButton
          type="button"
          label="Novo"
          class="ui-button-info"
          (click)="novo()"
        ></button>
        <button
          pButton
          type="button"
          label="Voltar para a pesquisa"
          class="ui-button-info"
          routerLink="/pessoas"
        ></button>
      </div>
    </div>
  </form>
</div>

