<div class="container">
  <div class="ui-g">
    <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input
          type="text"
          pInputText
          formControlName="nome"
          [(ngModel)]="filtro.nome"
        />
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>

    <div class="ui-g">
      <div class="ui-g-12">
        <app-pessoas-grid
          [cols]="cols"
          [pessoas]="pessoas"
          [filtro]="filtro"
          [totalRegistros]="totalRegistros"
          (lazyLoad)="aoMudarPagina($event)"
          (ps)="confirmarExclusao($event)"
          (propriedade)="ativarPropriedade($event)"
          (template)=bidingTable($event)
          [(tabela)]="tabela"
        ></app-pessoas-grid>
      </div>
    </div>

    <div class="ui-g-12">
      <button pButton type="button" label="Novo Pessoa"></button>
    </div>
  </div>
</div>
